<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<script th:src="@{/jquery/jquery.min.js}"></script>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<th:block th:include="navigation"></th:block>
	<div class="container">
		<div class="row">
			
		</div>
		<div class="row">
			<img align="middle" alt="welcome.png" src="/images/Welcome.png" class="img-responsive" >
			<h1 align="center"><strong>Welcome to Resource Management System Website</strong></h1>
		</div>
	</div>

</body>
</html>