<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1">
<title>User Information</title>
<script th:src="@{/jquery/jquery.min.js}"></script>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<th:block th:include="navigation"></th:block>
	<div class="container">
		<div class="alert alert-success">
			<strong>Login Successful!!</strong> Hello: <strong
				th:text="${username}"></strong>
		</div>
	</div>
</body>
</html>